html {
  background: rgb(200,200,200);
  background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(247,247,247,1) 100%);
  height: 100%;
}

body {
  height: inherit;
  margin: 0px;
}

.pl-1 {
  padding-left: 6px;
}

.pl-2 {
  padding-left: 12px;
}

.mb-1 {
  margin-bottom: 6px;
}

#app {
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-align: center;
  color: #1b1a20;
  padding-bottom: 40px;
}

.background {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -500;
}

.terminalview-bg {
  background-image: url("../assets/terminalview-bg.svg");

}

.graphicalview-bg {
  background-image: url("../assets/graphicalview-bg.svg");
}

.main-content-container {
  padding-top: 220px;
}

.inline-block {
  display: inline-block;
}

.terminalview-leave-active {
  transition: opacity 0.4s ease;
}

.terminalview-enter-active {
  transition: opacity 0.4s ease;
  transition-delay: 0.4s;
}

.terminalview-enter-from,
.terminalview-leave-to {
  opacity: 0;
}

.graphicalview-leave-active {
  transition: opacity 0.4s ease;
}

.graphicalview-enter-active {
  transition: opacity 0.4s ease;
  transition-delay: 0.4s;
}

.graphicalview-enter-from,
.graphicalview-leave-to {
  opacity: 0;
}

.keep-spaces {
  white-space: pre-wrap;
}

button {
  backface-visibility: hidden;
  background-color: #ab98dd;
  border-radius: 6px;
  border-width: 0;
  box-shadow: 0px 0px 6px -2px #242424;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  width: 50px;
  height: 50px;
  outline: none;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.text-lg {
  font-size: 16px;
  line-height: 19px;
}

.text-muted {
  color: #887F96;
}

.switch {
  display: inline-block;
  height: 22px;
  position: relative;
  margin-right: 10px;
  width: 65px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ffffff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #8A64EC;
  bottom: -6px;
  content: "";
  height: 34px;
  left: -4px;
  position: absolute;
  transition: .4s;
  width: 34px;
}

input:checked + .slider:before {
  left: 0px;
  transform: translateX(34px);
  background-color: #F18340;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.portrait-image {
  border: 5px solid #AB98DD;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.portrait-image--inverted {
  border-color: #FBAC7D !important;
}

@media (max-width: 820px) {
  .portrait-image {
    border: 3px solid #AB98DD;
    width: 70px;
    height: 70px;
  }
}
