/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191323;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7ca6a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fbae7d;
}

.terminal-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea:focus, input:focus{
  outline: none;
}

.help-command {
  color: #ab98dd;
}

#terminal-window :deep(.help-command) {
  color: #ab98dd;
}

#terminal-window {
  background: #191323;
  border: 1px solid #000000;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 10px 0px #242424;
  color: #cccccc;
  font-family: "Roboto Mono", "Ubuntu Mono", "Fira Code", "Cascadia Code", Consolas, "SF Mono", "DejaVu Sans Mono", monospace;
  height: 400px;
  margin: auto;
  text-align: left;
  width: 70%;
}

#prompt {
  display: inline-block;
  color: #cccccc;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

#command-line {
  color: #f9e46b;
  background: #191323;
  border: 0px;
  flex: 2;
  font-family: inherit;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

#terminal-window > .top {
  background: #3e4045;
  border: 1px solid #787a7d;
  border-bottom-color: #000000;
  border-radius: 5px 5px 0 0;
  color: #fcfcfd;
  padding: 5px;
}

#terminal-window > .top > .title {
  text-align: center;
}

#terminal-window > .body {
  height: 353px;
  overflow: auto;
  padding: 8px;
}

.btns {
  padding-top: 1px;
  position: absolute;
}

.circle {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  border-radius: 15px;
  height: 12px;
  margin-left: 2px;
  width: 12px;
}

.red {
  background: #EC6A5F; border-color: #D04E42;
}

.green {
  background: #64CC57; border-color: #4EA73B;
}

.yellow {
  background: #F5C04F; border-color: #D6A13D;
}

.command-line-container {
  display: flex;
}

@media (max-width: 800px) {
  #terminal-window {
    height: 500px;
    margin-top: 200px;
    width: 410px;
  }


  #terminal-window > .body {
    height: 453px;
  }
}

